@model LectureWebPrgBackend.Models.AdminProductsModel
@{
    ViewBag.Title = "Products";
    ViewBag.Action = "Products";
}

<!-- Header -->
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">@ViewBag.Title</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark user-select-none">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                    <p class="text-white d-inline-block mx-3">@ViewBag.ActionResult</p>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#modalCreateProduct">New</button>

                    <!-- Modal -->
                    <div class="modal fade text-left" id="modalCreateProduct" tabindex="-1" aria-labelledby="modalCreateProductLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCreateProductLabel">Add New Product</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("Products", "Admin", FormMethod.Post)) {
                                        <div class="form-group">
                                            @Html.LabelFor(f => Model.CreateUserModel.Id)
                                            @Html.TextBoxFor(f => Model.CreateUserModel.Id, new { type = "text", @class = "form-control", @Value = @ViewBag.createId })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(f => Model.CreateUserModel.CategoryId)
                                            @Html.TextBoxFor(f => Model.CreateUserModel.CategoryId, new { type = "text", @class = "form-control", @Value = @ViewBag.createCatId })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(f => Model.CreateUserModel.Name)
                                            @Html.TextBoxFor(f => Model.CreateUserModel.Name, new { type = "text", @class = "form-control", @Value = @ViewBag.createName })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(f => Model.CreateUserModel.Price)
                                            @Html.TextBoxFor(f => Model.CreateUserModel.Price, new { type = "number", @class = "form-control", @Value = @ViewBag.createPrice })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(f => Model.CreateUserModel.ImageURL)
                                            @Html.TextBoxFor(f => Model.CreateUserModel.ImageURL, new { type = "text", @class = "form-control", @Value = @ViewBag.createImgUrl })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(f => Model.CreateUserModel.Description)
                                            @Html.TextAreaFor(f => Model.CreateUserModel.Description, new { rows = "3", @class = "form-control", @Value = @ViewBag.createDesc })
                                        </div>
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    }
                                    <div>
                                        @Html.ValidationSummary(false, "")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">All Products</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="id">ID</th>
                                <th scope="col" class="sort" data-sort="catId">Category ID</th>
                                <th scope="col" class="sort" data-sort="name">Name</th>
                                <th scope="col" class="sort" data-sort="price">Price</th>
                                <th scope="col" class="sort" data-sort="imageUrl">Image URL</th>
                                <th scope="col" class="sort" data-sort="desc">Description</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (LectureWebPrgBackend.Models.Product product in Model.ProductList) {
                            <tr>
                                <th scope="row">@product.Id</th>
                                <td class="budget">@product.CategoryId</td>
                                <td>@product.Name</td>
                                <td class="budget">@(product.Price + " ₺")</td>
                                <td class="budget">
                                    <img class="img-thumbnail" style="max-height: 80px;" src="@product.ImageURL" alt="@product.Name" />
                                </td>
                                <td>
                                    <div style="width: 15rem; height: 8rem; overflow: auto;">
                                        <p class="text-wrap">@product.Description</p>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Action</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col">
                <div class="copyright text-center  text-lg-left  text-muted">
                    &copy; 2020
                </div>
            </div>
        </div>
    </footer>
</div>