@model LectureWebPrgBackend.Models.AdminProductCategoriesModel
@{
    ViewBag.Title = "Product Categories";
    ViewBag.Action = "ProductCategories";
}

<!-- Header -->
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">@ViewBag.Title</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark user-select-none">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#modalCreateProduct">New</button>

                    <!-- Modal -->
                    <div class="modal fade text-left" id="modalCreateProduct" tabindex="-1" aria-labelledby="modalCreateProductLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCreateProductLabel">Add New Product Category</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("ProductCategories", "Admin", FormMethod.Post)) {
                                        <div class="form-group">
                                            @Html.LabelFor(f => Model.CreateProductCategoryModel.Id)
                                            @Html.TextBoxFor(f => Model.CreateProductCategoryModel.Id, new { type = "text", @class = "form-control", @Value = @ViewBag.createId })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(f => Model.CreateProductCategoryModel.Name)
                                            @Html.TextBoxFor(f => Model.CreateProductCategoryModel.Name, new { type = "text", @class = "form-control", @Value = @ViewBag.createName })
                                        </div>
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    }
                                    <div>
                                        @Html.ValidationSummary(false, "", new { @class = "mt-4" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            @if (Request.Params.Get("deletionResult") != null) {
                <p class="text-white d-inline-block">@Request.Params["deletionResult"]</p>
            } else {
                <p class="text-white d-inline-block">@ViewBag.ActionResult</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">All Product Categories</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="id">ID</th>
                                <th scope="col" class="sort" data-sort="name">Name</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (LectureWebPrgBackend.Models.ProductCategory category in Model.CategoryList) {
                            <tr>
                                <th scope="row">@category.Id</th>
                                <td>@category.Name</td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            @using (Html.BeginForm("DeleteProductCategory", "Admin", new { categoryID = category.Id }, FormMethod.Post)) {
                                                <button class="dropdown-item" type="submit">Delete</button>
                                            }
                                            <!-- <a class="dropdown-item" href="#">Delete</a> -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col">
                <div class="copyright text-center  text-lg-left  text-muted">
                    Hasan Utku UÇAR - 180303001 - Computer Engineering | &copy; 2021
                </div>
            </div>
        </div>
    </footer>
</div>